a.item(href="#" data-id=item.id, data-item=item)
    img(src="/img/thumbs/" + item.img)
    .description
        h3= item.title
        ul.skills 
            each skill in item.skills
                li= skill
        //p= item.blurb
        