doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.css", type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans|Amatic+SC:700|Alegreya+Sans:400,900' rel='stylesheet' type='text/css')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
        title Hayley Griffiths
    body
        .parallax
            #cloud-layer(data-start="0", data-ratio="0")
            #layer9(data-start="0.26", data-ratio="0.05")
            #layer8(data-start="0.27", data-ratio="0.3")
            #layer7(data-start="0.29", data-ratio="0.33")
            #layer6(data-start="0.2", data-ratio="0.35")
            #layer5(data-start="0.34", data-ratio="0.4")
            #layer4(data-start="0", data-ratio="0.6")
            #layer3(data-start="0.2", data-ratio="0.7")
            #layer2(data-start="0", data-ratio="0.9")
            #layer1(data-start="0.7", data-ratio="1.1")
            header.brand.middle-col(data-start="0.1", data-ratio="1.1")
                h1 Hayley Griffiths
                p.subtitle Artist / Designer
        .main-container
            .middle-col.panel.container
                section#portfolio
                    .line
                    h2.light Portfolio
                    .line
                    .break-20
                    #items
                        each item in items
                            include item.jade
                section#about
                    .line
                    h2 About
                    .line
                    .break-20
                    .white-panel
                        img.selfie(src="/img/selfie.jpg")
                        p.big.
                            Making pixels fancy...
                        p. 
                            My name is Hayley Griffiths and I'm a multimedia illustrator and designer based in the Northwest of England.
                        p.
                            I'm also a qualified teacher and people pay me money to lecture in photography at Hugh Baird University Centre.
                        p.
                            In the summer of 2010 I graduated with a BA(hons) in Fine Art from Nottingham Trent University and then moved on to complete my <abbr title="Diploma to Teach in the Lifelong Learning Sector">DTLLS</abbr> at Chesterfield college.
                        p.
                            When not lecturing the future generations on the finer points of dark room development I immerse myself in artistic pursuits. In my spare time I design charaters and paint environment art for independently produced computer games, some of which have had international attention and acclaim. <small>Even if I do say so myself.</small> 
                        p. 
                            I also have three cats who eat all my food with their little fluffy faces.
                            
                        .clear
                section#contact
                    .line
                    h2 Contact
                    .line
                    .break-20
                    .white-panel
                        p.big Hayley likes messages. Send her one.
                        .social
                            a(href="http://www.twitter.com/@sookiesock")
                                i.fa.fa-twitter
                            a(href="mailto:griffiths.hayley@googlemail.com")
                                i.fa.fa-envelope
                footer
                    p Made with &hearts; in node.js
        .overlay
            p Loading...              
        .portfolio-popup
            .popup-overlay
            .contents
                a.close(href="#")
                    i.fa.fa-times
                .row
                    .six.columns
                        img
                    .six.columns.description
                        h2
                        ul.skills
                        p
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js")
        script(src="site.js")
