doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.css", type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather|Alegreya+Sans:400,900' rel='stylesheet' type='text/css')
        title Hayley Griffiths
    body
        .parallax
            #cloud-layer(data-start="0", data-ratio="0")
            #layer9(data-start="0.26", data-ratio="0.1")
            #layer8(data-start="0.27", data-ratio="0.2")
            #layer7(data-start="0.29", data-ratio="0.3")
            #layer6(data-start="0.2", data-ratio="0.35")
            #layer5(data-start="0.34", data-ratio="0.4")
            #layer4(data-start="0", data-ratio="0.6")
            #layer3(data-start="0.2", data-ratio="0.7")
            #layer2(data-start="0", data-ratio="0.9")
            #layer1(data-start="0.7", data-ratio="1.1")
            header.brand.middle-col(data-start="0.1", data-ratio="1.1")
                h1 Hayley Griffiths
                p.subtitle Artist / Designer
        .container
            .middle-col.panel
                h1 Hayley Griffiths
        .overlay
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="site.js")
