doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.css", type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans|Amatic+SC|Alegreya+Sans:400,900' rel='stylesheet' type='text/css')
        title Hayley Griffiths
    body
        .parallax
            #cloud-layer(data-start="0", data-ratio="0")
            #layer9(data-start="0.26", data-ratio="0.1")
            #layer8(data-start="0.27", data-ratio="0.2")
            #layer7(data-start="0.29", data-ratio="0.3")
            #layer6(data-start="0.2", data-ratio="0.35")
            #layer5(data-start="0.34", data-ratio="0.4")
            #layer4(data-start="0", data-ratio="0.6")
            #layer3(data-start="0.2", data-ratio="0.7")
            #layer2(data-start="0", data-ratio="0.9")
            #layer1(data-start="0.7", data-ratio="1.1")
            header.brand.middle-col(data-start="0.1", data-ratio="1.1")
                h1 Hayley Griffiths
                p.subtitle Artist / Designer
        .container
            .middle-col.panel
                h2 Portfolio
                #items
                    each item in items
                        include item.jade
                h2 About
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien quis sapien blandit gravida id in lacus. Sed non mattis dui. Aliquam ut lacus bibendum magna auctor volutpat. Integer id iaculis sapien. Integer sagittis rhoncus risus sed facilisis. Sed eget rhoncus quam, in dapibus nulla. Nunc vitae euismod arcu. Pellentesque eget diam vel justo ultricies ornare. Aliquam erat volutpat. Proin vel condimentum quam. Quisque efficitur sagittis nisi sit amet pharetra. Ut sollicitudin arcu vulputate, efficitur arcu in, volutpat est. 
                h2 Contact
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet sapien quis sapien blandit gravida id in lacus. Sed non mattis dui. Aliquam ut lacus bibendum magna auctor volutpat. Integer id iaculis sapien. Integer sagittis rhoncus risus sed facilisis. Sed eget rhoncus quam, in dapibus nulla. Nunc vitae euismod arcu. Pellentesque eget diam vel justo ultricies ornare. Aliquam erat volutpat. Proin vel condimentum quam. Quisque efficitur sagittis nisi sit amet pharetra. Ut sollicitudin arcu vulputate, efficitur arcu in, volutpat est. 
        footer
        .overlay
        
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js")
        script(src="site.js")
