header.brand {
    width: 960px;
    margin: auto;
    position: relative;
    z-index: 12;
    h1 {
        font-family: "Amatic SC", cursive;
        font-size: 120px;
        margin-top: 20px;
        color: @blue;
        margin-top: 0;
        padding-top: 10px;
        margin-bottom: 0;
        text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    }
    p.subtitle {
        font-size: 20px;
        color: @black;
        margin-top: -15px;
        font-weight: bold;
    }
}