@import "normalize.less";
@import "clouds.less";
@import "colors.less";
@import "parallax.less";
@import "header.less";
@import "overlay.less";
@import "item.less";
@import "footer.less";
@import "popup.less";
@import "skeleton.less";

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

* {
 box-sizing: border-box;   
}

html, body {
    padding:0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: @white;
    color: @white;
    font-family: "Open Sans", sans-serif;
}

h2, h3 {
     letter-spacing: 0.05em;
}

.main-container {
    //.gradient(#4e8172, #ffe9bf);
    position: relative;
    z-index: 15;
    background-image: url('/img/bottom.png');
    background: #6cab26;
    background-image: url('/img/bottom.png'); /* fallback */
    background-image: url('/img/bottom.png'), -webkit-gradient(linear, left top, left bottom, from(#4e8172), to(#ffe9bf)); /* Saf4+, Chrome */
    background-image: url('/img/bottom.png'), -webkit-linear-gradient(top, #4e8172, #ffe9bf); /* Chrome 10+, Saf5.1+ */
    background-image: url('/img/bottom.png'),    -moz-linear-gradient(top, #4e8172, #ffe9bf); /* FF3.6+ */
    background-image: url('/img/bottom.png'),      -o-linear-gradient(top, #4e8172, #ffe9bf); /* Opera 11.10+ */
    background-image: url('/img/bottom.png'),         linear-gradient(to bottom, #4e8172, #ffe9bf); /* W3C */
    background-position: bottom center;
    background-repeat: no-repeat;
}

.selfie {
    width: 50%;
    float: left;
    margin-right: 15px;
}

.clear {
    clear: both;   
}

.line {
    background: url('/img/line1.png');
    height: 10px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    
    &:nth-of-type(2n) {
        background: url('/img/line2.png');
    }
    
    &:nth-of-type(3n) {
        background: url('/img/line3.png');
    }
    
}

.break-20 {
    height: 20px;
    width: 100%;
}

.panel {
    h2 {
        //border-top: 1px solid darken(@blue, 20%);
        //border-bottom: 1px solid darken(@blue, 20%);
        text-align: center;
        margin: auto;  
        font-size: 48px;
        font-family: "Alegreya Sans", sans-serif;
        font-weight: 900;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);  
        color: @black;
        
        &.light {
            color: @white;   
        }
        
    }
    
    padding: 15px;
    
    & > p {
        line-height: 1.5em;
        
    }
}

section#contact {
    margin-top: 15px;
    color: @black;   
    .big {
        margin-top: 30px;
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: -0.04em;  
        margin-bottom: 0;
    }
    
    .social{
        
        text-align: center;
        font-size: 100px;
            
        
        a {
            padding: 10px;
            display: inline-block;
            line-height: 1em;
            border-radius: 4px;
            color: #4e8172;
            margin: 10px;
            transform: scale(0.8);
            transition: all 0.2s ease-in-out;
            opacity: 0.5;
            
            &:hover {
                opacity: 1;
                transform: scale(1);
            }
        }
    }   
    
}

.white-panel {
    background-color: rgba(255,255,255,0.5);
    color: @black;
    border-radius: 15px;
    padding: 15px;
       
}

#items  {
    
    &:after {
        content: "."; 
        visibility: hidden; 
        display: block; 
        height: 0; 
        clear: both;
    }
    

    
}